*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h1 {
    font-size: 3.5rem;
}

.home {
    background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}

.about {
    background: radial-gradient();
}

.portfolio {
    background: radial-gradient();
}

.contact {
    background: radial-gradient();
}

.about,
.portfolio,
.contact {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.links {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.links div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links h5 {
    font-size: 20px;
    padding: 16px;
    color: white;
}

.links svg {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.5);
}

.links svg:hover {
    animation: dot 0.5s ease-in-out infinite alternate;
}

.links svg.active {
    opacity: 1;
}

@keyframes dot {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(3);
    }
}