*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #afacb8 */
body {
    background: #162946;
}

.flipbox {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    background: #afacb8;
    transform: translate(-50%, -50%);
    animation: flip 2s linear infinite;
}

@keyframes flip {
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    50%{
        transform: rotateX(180deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg);
    }
}