*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #768761;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

ul li {
    list-style: none;
    width: 4px;
    height: 25px;
    background: #3f294b;
    margin: 0 4px;
    border-radius: 20px;
    animation: loader 0.8s linear alternate infinite;
}

@keyframes loader {
    0%{
        transform: scaleY(1);
    }
    25%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(1);
    }
    75%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(3);
    }
}

ul li:nth-child(1){
    animation-delay: 0.1s;
}
ul li:nth-child(2){
    animation-delay: 0.2s;
}
ul li:nth-child(3){
    animation-delay: 0.3s;
}
ul li:nth-child(4){
    animation-delay: 0.4s;
}
ul li:nth-child(5){
    animation-delay: 0.5s;
}
ul li:nth-child(6){
    animation-delay: 0.6s;
}
ul li:nth-child(7){
    animation-delay: 0.7s;
}

