*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background: linear-gradient(-45deg, #03001e, #7303c0, #ec38bc, #fdeff9);
    background-size: 400% 400%;
    position: relative;
    animation: animate 10s ease-in-out infinite;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
    font-weight: 500;
    text-align: center;
}

@keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}