*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
  background: black;

}

.container{
  /*border:1px solid white;*/
  width: 600px;
  height: 350px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: inline-flex; 
}

.back{  
  /* background-color: #404040; */
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  width: 100%;
  height: 80%;
  position: absolute;
  transform: translate(0,-50%);
  top:50%;
  display: inline-flex;
  border-radius: 15px;
}

.front{
   background: linear-gradient(to right, #a8c0ff, #3f2b96);;
  border-radius: 20px;
  height: 100%;
  width: 50%;
  z-index: 10;
  position: absolute;
  right:0;
  margin-right: 3%;
  margin-left: 3%;
  transition: right .8s ease-in-out;
}

/*Back box styling*/

.signupmsg, .loginmsg{
  width: 50%;
  height: 100%;
  font-size: 15px;
  box-sizing: border-box;
}

.loginmsg .title,
.signupmsg .title{
  font-weight: 300;
  font-size: 23px;
}

.loginmsg p,
.signupmsg p {
  font-weight: 100;
}

.text{
  color:white;
  margin-top:65px;
  margin-left: 12%;
}

.loginmsg button,
.signupmsg button {
  /* background-color: #404040; */
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  border: 2px solid white;
  border-radius: 10px;
  color:white;
  font-size: 12px;
  box-sizing: content-box;
  font-weight: 300;
  padding:10px;
  margin-top: 20px;
}

/*Front box styling*/

.login, .signup{
  padding: 20px;
  text-align: center;
}

.login h2,
.signup h2 {
  color: rgb(207, 163, 19);
  font-size:22px;
}

.inputbox{
  margin-top:30px; 
}
.login input, 
.signup input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom:20px;
  font-size: 12px;
  border-radius: 15px;
}

.login button,
.signup button{
  background-color: rgb(207, 163, 19);
  border: none;
  color:white;
  font-size: 12px;
  font-weight: 300;
  box-sizing: content-box;
  padding:10px;
  border-radius: 10px;
  width: 60px;
  position: absolute;
  right:30px;
  bottom: 30px;
  cursor: pointer;
}

/*Animations*/

.login p {
  cursor: pointer;
  color:#404040;
  font-size:15px;
}

.loginMsg, .signupMsg{
  /*opacity: 1;*/
  transition: opacity .8s ease-in-out;
}

.visible{
  opacity: 1;
}

.hide{
  display: none;
}

.move{
  right:45%;
}