 /* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -120px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 180px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#home {
    top: 70px;
    background-color: #494958;
}

#feed {
    top: 130px;
    background-color: #2196F3;
}

#about {
    top: 190px;
    background-color: #f44336;
}

#message {
    top: 250px;
    background-color: #9bd32f;
}

#friends {
    top: 310px;
    background-color: #009f94;
}

#mentors {
    top: 370px;
    background-color: #445a2f; 
}

#settings {
    top: 430px;
    background-color: #631e50; 
}

#homeImage {
    width: 25px;
    margin-left: 60px;
}
#feedImage {
    width: 30px;
    margin-left: 68px;
}
#aboutImage {
    width: 30px;
    margin-left: 52px;
}
#messageImage {
    width: 30px;
    margin-left: 21px;
}
#friendImage {
    width: 30px;
    margin-left: 40px;
}
#mentorImage {
    width: 25px;
    margin-left: 35px;
}
#settingImage {
    width: 25px;
    margin-left: 35px;
}