*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    background: #031018;
}

section {
    height: 100vh;
}

span {
    position: absolute;
    pointer-events: none;
    animation: popup 3s linear infinite;
    background-color: blanchedalmond;
}

@keyframes popup {
    0% {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}